* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }

/*=====================================*/

body {
  font-family: 'Fjalla One', sans-serif;
}
/*===============================================================LANDING PAGE=======================================================================*/

.landing {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: rgb(0, 0, 0); 
  overflow: hidden;
}

#box1{
  width: 525px;
  height: 725px;
  background-image: url('pllybigger2.png');
  filter: grayscale(1) contrast(2);
  background-size: 250px;
  background-repeat: no-repeat;
  position:absolute;
  bottom: -100px;
  left: 43%;
  z-index: 0;
  animation: anim 2s forwards, anim2 3s forwards 3s;  
}
#box1::after{
  content:'';
  position: absolute;
  width: 525px;
  height: 725px;
  background-image: url('pllybigger2.png');
  background-size: 250px;
  background-repeat: no-repeat;
  left: 0px;
  z-index: 0;
}
#box2{
  width: 40%;
  height: 50%;
  font-family: 'Bahnschrift Condensed';
  color: white;
    text-transform: uppercase;
    position: absolute;
    top: 23%;
    left: 9%;
    overflow: hidden;
  }
  #text h1{
    font-size: 130px;
    font-weight: 700;
    animation: liquid 4s ease-in-out infinite;  
    
  }
  
  #text h3{
    font-size: 30px;
    font-size: 400;
    letter-spacing: 0.1em;
    padding: 2px;    
  } 
  
  #text h1:nth-child(1){
    color: transparent;
  }
  #text h1:nth-child(2){
    color: white;
    
  }
  
  #box3{
    overflow: hidden;
    
  }
  #text{
    position: relative;
    left: -100%;
    animation: anim3 4s forwards 2.5s;
  }
  #container-landing{
    width: 100%;
    position: absolute;
    top: -100%;
    animation: anim4 2.5s forwards 2.5s;
  }
  .landingBtn{
    position: absolute;
    margin-left: 70px;
    margin-top: 50px;
    left: -100%;
    bottom:8%;
    animation: anim3 4s forwards 2.5s;
  }
  .landingBtn a{
    position: relative;
    display: inline-block;
    font-size:18px;
    color: white;
    padding: 18px 30px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 500;
    z-index: 100;
  }
  .landingBtn a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #eeb40d;
    z-index: -1;
    transition: all ease 0.5s;
   }
   .landingBtn a:hover:before{
     width: 100%;  
   }
  
  #logo{
    position: absolute;
    width:150px;
    top: 5%;
    left: 5%;
  }
  
  #menu{
    font-family: 'Fjalla One', sans-serif; 
    font-size: 14px;
    color: white;
    letter-spacing: 0.2em;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 10%;
    margin-top: 2%;
    float: right;
    
  }
  nav ul li:nth-child(5){
    background-color: #eeb40d;
    border-radius: 20px;
    padding: 10px 11px;
    
  }
  
  #menu ul li{
    display: inline-block;
    margin-left: 100px;    
  }
  
  nav ul li a{
    transition: all .5s;
  }
  nav ul li a:hover {
    color: #eeb40d;
  }

  nav ul li:nth-child(5):hover{
    background-color: #c39918;
    color: white;
    
  }
  

/*   .burger{
    position: absolute;
    top: 45%;
    right: 2%;
    display: none;
  }

.burger div{
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}
 */
  /* =======LANDING PAGE ANIMATIONS===== */  
  
  @keyframes anim{
    from{
      bottom:-100%;
    }
    to{
      bottom:0%;
    }
  }
  @keyframes anim2{
    from{
      left:43%;
      width: 530px;
    }
    to{
      width: 0%;
      left: 65%;
    }
  }
  @keyframes anim3{
    from{
      left:-110%;
    }
    to{
      left:0%
    }
  }
  @keyframes anim4{
    from{
      top:-100%;
    }
    to{
      top: 0%;
    }
  }
  
  @keyframes liquid 
  {
    0%,100%
    {
      clip-path: polygon(1% 29%, 7% 26%, 17% 22%, 29% 18%, 40% 18%, 47% 22%, 52% 28%, 61% 34%, 73% 36%, 86% 32%, 94% 25%, 99% 22%, 100% 100%, 1% 100%);
    }
    50%
    {
      clip-path: polygon(1% 26%, 4% 33%, 13% 38%, 24% 39%, 37% 32%, 47% 24%, 60% 19%, 73% 19%, 81% 28%, 88% 34%, 94% 39%, 99% 42%, 100% 100%, 0% 100%);
     }
  } 

  /*===============================================================SECOND SECTION=======================================================================*/
 
#section{
  width: 100%;
  height: 40vh;
}

.passion{
  height: 40vh;
  position: relative;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  background-image: url('bar1.jpeg');
  filter: grayscale(1) contrast(1.1);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: -1;
}

.passion::after{
  content:'';
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  background-color: #ffffff;
  opacity: .6;
  z-index: 0;
}

.passion-text{
  position: absolute;
  z-index: 1;
}

.passion-text h1{
  font-family: 'Bahnschrift Condensed';
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 15px;
  letter-spacing: 0.1em;
  
}
.passion-text h3{
  font-family: 'Bahnschrift Condensed';
  font-size: 23px;
 
}
  

/* 
 box {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 20%;
  left: 20%;
  transform: translateX(-50%);
  z-index: 1;
  border: solid white 2px;
}

.box span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  transform: rotate(45deg);
  z-index: 102;
  margin: -10px;
  animation: animate 2s infinite;
}

.box span:nth-child(2)
{
  animation-delay: -0.2s;
}
.box span:nth-child(3)
{
  animation-delay: -0.4s;
}

@keyframes animate
{
  0%{
    opacity: 0;
    transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
    opacity: 1;
  
  }
  100%{
    opacity: 0;
    transform: rotate(45deg) translate(20px,20px);
  }
}
 */
 

/*=================================================================SWIPER MENU======================================================================*/

 #container{
  width: 100%;
  height: 100%;
  padding: 10% 10px;
 }

#wrapper {
    text-align: center;
    display: flex;
    align-items: center;
}

.swiper-slide {
  display: grid;
  justify-content: center;
  align-items: center;  
  place-content: center;  
  margin: 0 auto;
  background-color: rgb(72, 72, 78);
/*   box-shadow: 3px 3px 9px 3px grey ; */
  font-size: 18px;
  color: #eeb40d;
}
.swiper-slide img {
  display: block;
  margin: 0 auto;
  height: 450px;
  object-fit: cover;
}

/*================================================================= MEDIA QUERY======================================================================*/


