* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }

/*=====================================*/

body {
  font-family: 'Fjalla One', sans-serif;
}

/*===============NAVBAR==============*/

nav{
  position: absolute;
  left: 50%;
  top: 3%;
  transform: translateX(-50%);
  z-index: 1;
}

 nav ul{
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
} 

nav ul li, a {
  list-style: none;
  text-shadow: 2px 2px 2px 2px grey;
}

nav ul li{
  width: 200px;
  display: block;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.2em;
}

.landing li:nth-child(3){
  color: white;
}
.landing li:nth-child(4){
  color: white;
}

/*===============LANDING PAGE==============*/

.landing {
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
}

 .happy {
  position: absolute;
  /* font-family: 'Rozha One', sans-serif; */
  /* font-family: 'Mate SC', sans-serif; */
  font-family: 'Fjalla One', sans-serif;
  left: 50%;
  transform: translateX(calc(-50% - 120px));
  bottom: 24%;
  color: black;
  font-size: 90px;
  font-weight: 700;
  letter-spacing: 0.01em;
  z-index: 100;
}
.hour {
  position: absolute;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  right: 50%;
  bottom: 24%;
  transform: translateX(calc(50% + 110px)); 
  font-size: 90px;
  font-weight: 600;
  letter-spacing: 0.08em;
  z-index: 100;
} 
/* .happy {
  position: absolute;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-weight: 700;
  right: 20%;
  bottom: 35%;
  font-size: 100px;
  z-index: 100;
} 
.ready {
  position: absolute;
  font-family: 'Architects Daughter', cursive;
  color: #fec51b;
  right: 15%;
  top: 30%;
  font-size: 48px;
  z-index: 100;
} 
 */
.rightside, .leftside {
  width: 50%;
  height: 100vh;
}
.rightside::after {
  width: 50%;
  height: 100vh;
  content: '';
  /* background-color: black; */
  background-image: linear-gradient(180deg, #181822 0%, black 35%, transparent);
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
} 
.tap {
  width: 100%;
  height: 100vh;
  display: block;
  object-fit: cover;
}

.logo {
  position: absolute;
  top: 18%;
  left: 49.9%;
  transform: translateX(-50%);
  opacity: 0.8;
  z-index: 2;
}

.explorebtn {
  display: grid;
  place-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 9%;
  text-align: center;
  width: 200px;
  height: 50px;
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
 /*  background-image: linear-gradient(#fec51b, rgb(124, 109, 31)); */
  background-image: linear-gradient(45deg, #000000, rgb(173, 172, 165));
  border-radius: 25px;
  background-color: transparent;
  transition: 1s ease-in-out;
}

.explorebtn:hover {
  transition: 1s ease-in-out;
  background: #fec51b;
}


 /* .box {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1002;
}

.box span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  transform: rotate(45deg);
  z-index: 102;
  margin: -10px;
  animation: animate 2s infinite;
}

.box span:nth-child(2)
{
  animation-delay: -0.2s;
}
.box span:nth-child(3)
{
  animation-delay: -0.4s;
}

@keyframes animate
{
  0%{
    opacity: 0;
    transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
    opacity: 1;
  
  }
  100%{
    opacity: 0;
    transform: rotate(45deg) translate(20px,20px);
  }
}
 */
#myVideo {
    object-fit: cover;
    width: 100%;
    height: 100vh;
  } 

/*===============DRINK MENU==============*/

#container {
    width: 100%;
    height: 100%;
    text-align: center;
}

.cards {
    width: 40vw;
    height: 200px;
    margin: 0 auto;
    background-color: white;
    opacity: 0.7;
    text-align: center;
    padding: 50px 0;
    border-radius: 15px;
    box-shadow: 3px 3px 9px 3px grey ;
    margin-top: 4%;
    margin-bottom: 4%;
}
/* 
h1 {
    width: 280px;
    margin: 0 auto;
    font-size: 25px;
    color: white;
    margin-top: 70px
} */


  @media screen and (max-width: 1000px){
      .cards {
          width: 60vw;
      }
      h1{
          margin-top: 30px;
      }
  }

  @media screen and (max-width: 520px){
      .cards {
          width: 60vw;
          margin-top: 20px;
          margin-bottom: 20px;
      }
        h2{
            font-size: 20px;
        }
        p{
            font-size: 16px;
        }
        h1{
            margin-top: 30px;
            margin-bottom: 30px;
            width: 80vw;
            text-align: center;
          
        }
  }
