* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }

/*=====================================*/

body {
    font-family: 'Fjalla One', sans-serif;;
}

/*===============LANDING PAGE==============*/

.landing {
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
}

.taste {
  font-family: 'Vollkorn SC', serif;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-40%);
  color: black;
  z-index: 1000;
}
.quality {
  font-family: 'Vollkorn SC', serif;
  color: white;
  position: absolute;
  left: 50%;
  top: 20%;
  z-index: 1000;
}

.rightside, .leftside {
  width: 50%;
  height: 100vh;
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background-image: linear-gradient(90deg, black, transparent);
  z-index: 100;
}


.tap {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  position: absolute;
  top: 30%;
  left: 49.8%;
  transform: translateX(-50%);
  opacity: 0.8;
  z-index: 101;
}

/* .box {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1002;
}

.box span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  transform: rotate(45deg);
  z-index: 102;
  margin: -10px;
  animation: animate 2s infinite;
}

.box span:nth-child(2)
{
  animation-delay: -0.2s;
}
.box span:nth-child(3)
{
  animation-delay: -0.4s;
}

@keyframes animate
{
  0%{
    opacity: 0;
    transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
    opacity: 1;
  
  }
  100%{
    opacity: 0;
    transform: rotate(45deg) translate(20px,20px);
  }
}
 */
#myVideo {
    object-fit: cover;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 100vh;
    z-index: -1;
  }

/*===============DRINK MENU==============*/

#container {
    width: 100%;
    height: 100%;
    text-align: center;
}

.cards {
    width: 40vw;
    height: 200px;
    margin: 0 auto;
    background-color: white;
    opacity: 0.7;
    text-align: center;
    padding: 50px 0;
    border-radius: 15px;
    box-shadow: 3px 3px 9px 3px grey ;
    margin-top: 4%;
    margin-bottom: 4%;
}

h1 {
    width: 280px;
    margin: 0 auto;
    font-size: 25px;
    color: white;
    margin-top: 70px
}


  @media screen and (max-width: 1000px){
      .cards {
          width: 60vw;
      }
      h1{
          margin-top: 30px;
      }
  }

  @media screen and (max-width: 520px){
      .cards {
          width: 60vw;
          margin-top: 20px;
          margin-bottom: 20px;
      }
        h2{
            font-size: 20px;
        }
        p{
            font-size: 16px;
        }
        h1{
            margin-top: 30px;
            margin-bottom: 30px;
            width: 80vw;
            text-align: center;
          
        }
  }
